/* Modifications: Unlicense © 2025 ngivanyh (https://github.com/ngivanyh/changjie/blob/master/LICENSE) */
/* Original Work: MIT License © 2019 Cycatz (https://github.com/ngivanyh/changjie/blob/master/LICENSE-ORIGINAL) */

body {
    background-color: var(--bg-color);
    transition: background-color 0.2s ease;
    color: var(--font-color);
    font-family: var(--font);
}

a {
    all: unset; /* unset all default styling from os/browser (should be available on all major browsers) */
    cursor: pointer; /* set back the pointer settings */
}

a:hover {
    text-decoration: underline;
    color: var(--link-hover);
}

.shake {
    animation: shake 0.2s ease-in-out;
}

#testing-section {
    margin-top: var(--quest-frame-margin-size);
    text-align: center;
    transition: margin-top 0.2s ease;
}

#test-char {
    display: inline-block;
    border: 0.125rem solid var(--font-color);
    font-size: 10.75rem;
    padding: 0 1.875rem;
    will-change: transform; /* offloads transform changes to gpu */
}

#input-box {
    /* css to make it invisible (cannot be seen and doesn't take up space) */
    opacity: 0;
    height: 0.0625rem;
    width: 0.0625rem;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0); 
    border: none;
    padding: 0;
    margin: 0;
}

#decomposed-characters {
    text-align: center;
    margin-top: var(--practice-mode-cursor-margin-size); 
    transition: margin-top 0.2s ease;
}

.decomposed-character {
    display: inline-block;
    vertical-align: top;
    height: 6.25rem;
    width: 6.25rem;
    line-height: 6.25rem;
    font-size: 3.5rem;
    margin: 0 0.25rem;
    border-bottom-width: var(--practice-mode-border-bottom-width);
    border-bottom-style: var(--practice-mode-border-bottom-style);
    border-bottom-color: var(--font-color);
    transition: border-bottom-width 0.2s ease;
}

/* default: white text when not grayed */
[mode='decomposition'] .decomposed-character:hover:not(.decomposed-character-grayed) {
    color: var(--blink-font-color);
}

[mode='decomposition'] .decomposed-character:hover {
    background-color: var(--blink-bg-color);
    color: gray;
}

.decomposed-character-grayed { 
    /* either because it is a hint (in decomp mode) or because it is completed (in layout mode) */
    color: gray;
    border-bottom-color: var(--font-color);
}

.decomposed-character-selected {
    background-color: var(--blink-bg-color);
    color: var(--blink-font-color);
}

#keyboard {
    margin: 5vh auto;
    display: var(--keyboard-display);
    transition: opacity 0.2s ease;
    opacity: 1;
}

[mode='decomposition'] #keyboard {
    opacity: 0;
}

.keyboard-row {
    text-align: center;
    height: calc(0.375rem + var(--key-height));
    margin-bottom: 0.375rem;
}

/* stagger keyboard row */
#keyboard-row-2 {
    margin-left: 2.8125rem;
}

/* stagger keyboard row */
#keyboard-row-3 {
    margin-left: 1.5625rem;
}

[kbVisibility] .keyboard-key {
    /* remove browser styling for button etc */
    all: unset;
    /* re-setting the uninherited styles */
    text-align: center;
    color: var(--font-color);
    background-color: var(--bg-color);
    font-family: var(--font);
    /* real styling */
    display: inline-block;
    position: relative;
    font-size: 2.5rem;
    border: 0.125rem solid var(--font-color);
    width: 3.75rem;
    height: var(--key-height);
    line-height: var(--key-height);
    margin: 0 0.1875rem 0 0.1875rem;
    user-select: none;
}

[kbVisibility='hidden'] .keyboard-key {
    color: transparent;
}

[kbVisibility] .keyboard-key:hover {
    box-shadow: var(--keyboard-key-shadow);
    animation: none;
}

/* home dot */
#keyboard-key-f::after,
#keyboard-key-j::after {
    content: '';
    position: absolute;
    bottom: 0.25rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    background: var(--font-color);
}

[kbVisibility='visible'] .keyboard-key-blink {
    animation: key-blinking 1s infinite ease;
}

[kbVisibility] .keyboard-key-activated-correct {
    background-color: var(--key-correct);
}

[kbVisibility] .keyboard-key-activated-incorrect {
    background-color: var(--key-incorrect);
}

/* bottom toggle row */
.ui-toggle-row {
    fill: var(--font-color);
    display: block;
}

.ui-toggle {
    position: fixed;
    bottom: 0.625rem;
    width: 1.875rem;
    height: 1.875rem;
}

#theme-toggle {
    left: 0.625rem;
}

#kb-toggle {
    display: var(--keyboard-display);
    left: calc(50vw - 0.9375rem);
}

#mode-toggle {
    right: 0.625rem;
}

#theme-dark {
    display: var(--display-dark-mode-icon);
}

#theme-light {
    display: var(--display-light-mode-icon);
}

#visibility-visible {
    display: var(--display-kb-visibility-icon);
}

#visibility-invisible {
    display: var(--display-kb-invisibility-icon);
}

#mode-layout {
    display: var(--display-layout-mode-icon);
}

#mode-decomposition {
    display: var(--display-decomposition-mode-icon);
}