/* Modifications: Unlicense © 2025 ngivanyh (https://github.com/ngivanyh/changjie/blob/master/LICENSE) */
/* Original Work: MIT License © 2019 Cycatz (https://github.com/ngivanyh/changjie/blob/master/LICENSE-ORIGINAL) */

@font-face {
    font-family: 'Noto Serif TC (Medium)';
    src: url('./NotoSerifTC-Medium.woff2') format('woff2');
    font-display: fallback;
}

:root {
    /* fonts */
    --font: 'Noto Serif TC (Medium)', serif;
    --english-font: system-ui, -apple-system, 'Segoe UI', Roboto;
    --key-height: 4.2rem;
    /* keyboard key hover/blink box shadow */
    --keyboard-key-shadow: inset 0 0 0.8125rem 0 var(--font-color);
    --region-select-shadow: inset 0 0 0.625rem 0 var(--font-color);
    /* fallback theme (light mode) */
    --bg-color: white;
    --font-color: black;
    --blink-bg-color: var(--font-color); /* also the same for every other color */
    --blink-font-color: var(--bg-color); /* also the same for every other color */
    --color-faded: gray;
    --key-correct: #44fc11;
    --key-incorrect: #ff0010;
    --link-hover: #1d75e0;
    /* transition */
    --transition-fast: 0.2s ease;
}

[theme='light'] {
    --bg-color: white;
    --font-color: black;
    --color-faded: gray;
    --key-correct: #44fc11;
    --key-incorrect: #ff0010;
    --link-hover: #1d75e0;
}

[theme='dark'] {
    --bg-color: black;
    --font-color: white;
    --color-faded: gray;
    --key-correct: #1ece2a;
    --key-incorrect: #ed0414;
    --link-hover: #1d75e0;
}

[theme='forest'] {
    --bg-color: #203a28;
    --font-color: #ADE25D;
    --color-faded: #3e774d;
    --key-correct: #152112 ;
    --key-incorrect: #6B0504;
    --link-hover: #3B7080;
}

[theme='ocean'] {
    --bg-color: #0153bf;
    --font-color: #05ddff;
    --color-faded: #0ea2cc;
    --key-correct: #43b245;
    --key-incorrect: #cc5d5b;
    --link-hover: #4074ce;
}

[theme='apple'] {
    --bg-color: #e01d33;
    --font-color: #2d070e;
    --color-faded: #b2172b;
    --key-correct: #406326;
    --key-incorrect: #ef737d;
    --link-hover: #60111e;
}

[theme='ice'] {
    --bg-color: #90e0ef;
    --font-color: #0077b6;
    --color-faded: #b5e7fc;
    --key-correct: #98c379;
    --key-incorrect: #e06c75;
    --link-hover: #0096c7;
}

[theme='fire'] {
    --bg-color: #e05504;
    --font-color: #ffbf00;
    --color-faded: #faa307;
    --key-correct: #527f33;
    --key-incorrect: #cc2a02;
    --link-hover: #990106;
}

[theme='royalty'] {
    --bg-color: #822ecc;
    --font-color: #240046;
    --color-faded: #9d4edd;
    --key-correct: #92cca4;
    --key-incorrect: #d3545f;
    --link-hover: #c77dff;
}

[mode='layout'] {
    --keyboard-display: block;
    --practice-mode-cursor-margin-size: 4vh;
    --practice-mode-border-bottom-width: 0;
    --practice-mode-border-bottom-style: solid;
}

[mode='decomposition'] {
    --keyboard-display: none;
    --practice-mode-cursor-margin-size: 10vh;
    --practice-mode-border-bottom-width: 0.0625rem;
    --practice-mode-border-bottom-style: solid;
}

/* used for shaking the character box */
@keyframes shake {
  0%   { transform: translateX(0); }
  10%  { transform: translateX(-0.5rem); }
  20%  { transform: translateX(0.5rem); }
  30%  { transform: translateX(-0.5rem); }
  40%  { transform: translateX(0.5rem); }
  50%  { transform: translateX(-0.5rem); }
  60%  { transform: translateX(0.5rem); }
  70%  { transform: translateX(-0.5rem); }
  80%  { transform: translateX(0.5rem); }
  90%  { transform: translateX(-0.5rem); }
  100% { transform: translateX(0); }
}

/* used for keyboard blinking */
@keyframes key-blinking {
  0%   { box-shadow: var(--keyboard-key-shadow); }
  50%  { box-shadow: none; }
  100% { box-shadow: var(--keyboard-key-shadow); }
}