body {
    background-color: var(--bg-color);
    transition: background-color 0.2s ease;
    color: var(--font-color);
}

#testing-section {
    margin-top: var(--quest-frame-margin-size);
    text-align: center;
    transition: margin-top 0.2s ease;
}

#test-char {
    display: inline-block;
    border: 1px solid;
    font-size: 172px;
    padding: 0px 30px;
    font-family: var(--fonts);
    color: var(--font-color);
}

.decomposition-cursor {
    text-align: center;
    margin-top: var(--practice-mode-cursor-margin-size); 
    transition: margin-top 0.2s ease;
}

.decomposition-cursor__character {
    display: inline-block;
    vertical-align: top;
    height: 100px;
    width: 100px;
    line-height: 100px;
    font-family: var(--fonts);
    font-size: 56px;
    margin: 0 4px;
    color: var(--font-color);
    border-bottom-width: var(--practice-mode-border-bottom-width);
    border-bottom-style: var(--practice-mode-border-bottom-style);
    transition: border-bottom-width 0.2s ease;
}

.decomposition-cursor__character--finished {
    color: gray;
}

.decomposition-cursor__character--hint {
    color: gray;
    border-bottom-color: var(--font-color);	
}

.decomposition-cursor__character--blink {
    background-color: var(--blink-bg-color);
    color: var(--blink-font-color);
}

#keyboard {
    margin: 5vh auto;
    display: var(--keyboard-display);
    transition: opacity 0.2s ease;
    opacity: 1;
}

[mode="decomposition"] #keyboard {
    opacity: 0;
}

[id^='keyboard__row-'] {
    text-align: center;
    height: calc(6px + var(--key-height));
    margin-bottom: 6px;
}

#keyboard__row-2 {
    margin-left: 45px;
}

#keyboard__row-3 {
    margin-left: 25px;
}

[kb_visible] [class^='keyboard__key-'] {
    display: inline-block;
    user-select: none;
    border: 2px outset black;
    width: 60px;
    height: var(--key-height);
    margin: 0 3px 0 3px;
    line-height: var(--key-height);
    font: 40px var(--fonts);
}

[kb_visible='visible'] [class^='keyboard__key-'] {
    color: var(--font-color);
}

[kb_visible='hidden'] [class^='keyboard__key-'] {
    color: transparent;
}

.home_dot {
    opacity: 1;
    display: block; 
    width: 6px; 
    height: 6px; 
    border-radius: 50%; 
    background: var(--font-color); 
    margin: 0 auto;
}

[kb_visible='visible'] .keyboard__key--blink {
    box-shadow: inset 0 0 13px 0;
}

[kb_visible] .keyboard__key--activated-correct {
    background-color: var(--key-correct);
}

[kb_visible] .keyboard__key--activated-incorrect {
    background-color: var(--key-incorrect);
}

.ui-toggle {
    display: block;
    position: fixed;
    bottom: 10px;
    width: 30px;
    height: 30px;
    color: var(--font-color);
    font-size: 30px;
}

#theme-toggle {
    left: 10px;
}

#kb-toggle {
    display: var(--keyboard-display);
    left: calc(50vw - 15px);
}

#mode-toggle {
    right: 10px;
}

#theme-dark {
    display: var(--display-dark-mode-icon);
}

#theme-light {
    display: var(--display-light-mode-icon);
}

[kb_visible="visible"] #visibility-visible,
[kb_visible="hidden"] #visibility-invisible {
    display: none;
}

[kb_visible="visible"] #visibility-invisible,
[kb_visible="hidden"] #visibility-visible {
    display: inherit;
}

#mode-layout {
    display: var(--display-layout-mode-icon);
}

#mode-decomposition {
    display: var(--display-decomposition-mode-icon);
}